<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bbsmodule">

    <application
        android:theme="@style/AppTheme">
        <activity android:name=".BBSMainActivity">
        </activity>
        <activity android:name=".SreachResultActivity"></activity>
        <activity android:name=".PostInfoActivity" />
    </application>

</manifest>